<section>
  <div class="page-header">
    <h1>Curriculum</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="curriculums.competences.list">Compétences pédagogiques</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="curriculums.techniques.list">Compétences techniques</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="curriculums.experiences.list">Expériences</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="curriculums.langues.list">Langues</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="curriculums.apercu">Aperçu de votre CV</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
