<div>
  <div class="titre">Modifier une langue</div>
    <div class="col-md-12">
      <form name="vm.form.langueForm" class="form-horizontal cadre form" ng-submit="vm.save(vm.form.langueForm.$valid)" novalidate>
        <div class="titre-form">Modifier une langue </div>
        <fieldset>
          <div class="row form-group" show-errors>
            <div class="col-md-12" >
              <input type="text" name="langueName" ng-model="vm.langue.langueName" id="langueName" class="form-control" placeholder="Modifier une langue ">
              <div class="col-md-12" >
                <div class="sous-titre-form" for="niveau">Niveau</div>
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu"> lu
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "écrit"> écrit
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu et écrit"> lu et écrit
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "très bon niveau"> très bon niveau
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "langue maternelle"> langue maternelle
                <br><br>
                <div><button type="submit" class="btn btn-block btn-form">confirmer</button></div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <br>
      <span><button ng-click="vm.back()" class="btn btn-sm btn-form pull-right">annuler</button></span>
    </div>
  </div>
</div>
