<section>
  <div class="row">
    <div class="col-md-12">
      <form name="vm.form.langueForm" class="form-horizontal cadre form" ng-submit="vm.save(vm.form.langueForm.$valid)" novalidate>
        <div class="titre-form"> Ajouter une langue </div>
        <fieldset>
          <div class="row form-group" show-errors>
            <div class="col-md-12" >
              <input type="text" name="langueName" ng-model="vm.langue.langueName" id="langueName" class="form-control" placeholder="Ajouter une langue ">
              <div class="col-md-12" >
                <div class="sous-titre-form" for="niveau">Niveau</div>
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu"> lu
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "écrit"> écrit
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu et écrit"> lu et écrit
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "très bon niveau"> très bon niveau
                <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "langue maternelle"> langue maternelle
                <br><br>
                <div><button type="submit" class="btn btn-block btn-form">ajouter</button></div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12">
      <div class="titre">Liste des langues</div>
      <table id="tableau" class="table table-striped table-responsive">
        <tbody>
          <tr data-ng-repeat="langue in vm.langues">
            <td class="col-md-10 col-sm-9">{{langue.langueName}}, {{langue.niveau}} </td>
            <td align="center">
              <button class="btn btn-form btn-xs pull-right" ng-click="vm.remove(langue)"><span class="glyphicon glyphicon-trash"></span></button>
              <button class="btn btn-form btn-xs pull-right" data-ui-sref="curriculums.langues.edit({langueId: langue._id})"><span class="glyphicon glyphicon-pencil"></span></button>  
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
