<section>
  <div class="row">
    <div class="col-md-12">
      <form name="vm.form.langueForm" class="form-horizontal" ng-submit="vm.save(vm.form.langueForm.$valid)" novalidate>
        <fieldset>
          <div class="col-md-12" show-errors>
            <div class="titre"> Ajouter une langue </div>
            <div >
              <input type="text" name="langueName" ng-model="vm.langue.langueName" id="langueName" class="form-control" placeholder="Ajouter une langue ">
            <br>
            <br>
             <div class="col-md-12" >
              <label class="control-label" for="niveau">Niveau</label>
              <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu"> lu
              <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "ecrit"> ecrit
              <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "lu et ecrit"> lu et ecrit
               <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "tres bon niveau"> Trés bon niveau
              <input type="radio" name="niveau" ng-model="vm.langue.niveau" value = "langue maternelle"> langue maternelle
             </div>
            <div ng-messages="vm.form.langueForm.niveau.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Car niveau is required.</p>
          </div>

           <span class="pull-right"> <button type="submit" class="btn btn-success">ajouter</button></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12">
      <div class="titre">Liste des langues</div>
      <table id="tableau" border="1" class="table table-striped table-condensed table-responsive">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-9">LANGUES</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="langue in vm.langues">
            <td class="col-md-10 col-sm-9">{{langue.langueName}}, {{langue.niveau}} </td>
            <td>
              <button class="btn btn-info" data-ui-sref="curriculums.langues.edit({langueId: langue._id})"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger" ng-click="vm.remove(langue)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
