<section>
  <div class="row">
    <div class="col-md-12">
      <my-fm my-fm-data="vm.formations"></my-fm>
      <div class=" col-md-12 titre">Liste des formations</div>

      <div class="col-md-12" data-ng-repeat="formation in vm.formations | orderBy : '-dateFinAnnee'">
        <div class="row cadre list xp">
          <div class="col-md-2 petit">
            {{formation.dateDebutMois}} {{formation.dateDebutAnnee}}
            <br>
            {{formation.dateFinMois}} {{formation.dateFinAnnee}}
          </div>
          <div class="col-md-10">
            <div class="xp intitule">{{formation.intitule}}
              <button class="btn btn-form btn-xs pull-right" ng-click="vm.remove(formation)"><span class="glyphicon glyphicon-trash"></span></button>
              <button class="btn btn-form btn-xs pull-right" data-ui-sref="curriculums.formations.edit({formationId: formation._id})"><span class="glyphicon glyphicon-pencil"></span></button>  
            </div>
            <div class="petit souligne">{{formation.organisme}} - {{formation.ville}}</div>
            <div>{{formation.diplome}}</div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>