<div>
  <div class="col-md-12">
    <form name="vm.form.etablissementForm" class="form-horizontal cadre form" ng-submit="vm.save(vm.form.etablissementForm.$valid)" novalidate>
      <fieldset>
        <div class="titre-form col-md-12">
          {{vm.etablissement._id ? 'Modifier un établissement' : 'Créer un établissement'}}
        </div>
          <div class="col-md-12">
            <div class="sous-titre-form">Nom de l'etablissement</div>
            <input type="text" name="etablissementName" ng-model="vm.etablissement.etablissementName" id="etablissementName" class="form-control" placeholder="Nom de l'etablissement" required>
            <div ng-messages="vm.form.etablissementForm.etablissementName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Le nom de l'établissement est obligatore</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="sous-titre-form">Adresse</div>
            <input type="text" name="cp" ng-model="vm.etablissement.adresse" id="adresse" class="form-control" placeholder="adresse" required>
            <div ng-messages="vm.form.etablissementForm.adresse.$error" role="alert">
              <p class="help-block error-text" ng-message="required">l'adresse est obligatoire.</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="sous-titre-form">Code postal</div>
                <input type="text" name="cp" ng-model="vm.etablissement.cp" id="cp" class="form-control" placeholder="code postal" required>
                <div ng-messages="vm.form.etablissementForm.cp.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Le code postal est obligatoire.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="sous-titre-form">Ville</div>
                <input type="text" name="ville" ng-model="vm.etablissement.ville" id="ville" class="form-control" placeholder="ville" required>
                <div ng-messages="vm.form.etablissementForm.ville.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">La ville est obligatoire.</p>
                </div>
              </div>
            </div>
            <br>
            <div class="col-md-12">
              <button type="submit" class="btn btn-form btn-block">{{vm.etablissement._id ? 'modifier' : 'ajouter'}}</button>
            </div>
          </div>
      </fieldset>
    </form>
    <br>
    <span><button ng-click="vm.back()" class="btn btn-form pull-right">annuler</button></span>
  </div>
</div>

