<section>
  <div class="row">
    <div class="col-md-6">
        <div class="titre"> Créer un établissement</div>
        <button class="btn btn-block btn-form" ui-sref="admin.etablissements.create">+ ajouter un etablissement</button>
    </div>
    <div class="titre">Chercher un établissement</div>
    <div class="input-group">
      <label class="input-group-addon"><span class="glyphicon glyphicon-search"></span></label>
        <input type="text" class="form-control" ng-model="searchEtablissement" placeholder="recherche">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="titre">Liste des établissements</div>
        <table class="table table-striped table-condensed table-responsive">
          <thead >
            <tr >
              <th>NOM DE L'ETABLISSEMENT</th>
              <th>ADRESSE</th>
              <th>CODE POSTAL</th>
              <th>VILLE</th>
            </tr>
          </thead>
          <tbody >
            <tr  ng-repeat="etablissement in vm.etablissements | orderBy:'etablissementName' | filter: searchEtablissement">
              <td>{{ etablissement.etablissementName | uppercase }}</td>
              <td>{{ etablissement.adresse }}</td>
              <td>{{ etablissement.cp }}</td>
              <td>{{ etablissement.ville | uppercase }}</td>
              <td>
                <button class="btn btn-xs btn-form" ui-sref="admin.etablissements.edit({etablissementId: etablissement._id})"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-xs btn-form" ng-click="vm.remove(etablissement)"><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="alert alert-warning text-center" ng-if="etablissement.$resolved && !etablissement.length">
      No etablissement yet, why don't you <a ui-sref="admin.etablissements.create">create one</a>?
    </div>
  </div>
</section>
