<section>


<!--         <select type="text" ng-model="marquetype">
          <option value="">Marque</option>
          <option data-ng-repeat="etablissement in vm.etablissements" ng-value="etablissement._id">
              {{ etablissement.etablissementName | uppercase  }}
          </option>
        </select> -->

         <button class="btn btn-success" ui-sref="admin.etablissements.create">+ ajouter un etablissement</button>



  
  <table class="table table-bordered table-striped table-condensed table-responsive">
    <thead >
      <tr >
        <th >NOM DE L'ETABLISSEMENT</th>
        <th >CODE POSTAL</th>
        <th >DEPARTEMENT</th>
        <th >ADRESSE</th>
      </tr>
    </thead>
    <tbody >
      <tr  ng-repeat="etablissement in vm.etablissements | orderBy:'etablissementName'">
        <td >{{ etablissement.etablissementName | uppercase }}</td>
        <td >{{ etablissement.cp }}</td>
        <td >{{ etablissement.dpt }}</td>
        <td >{{ etablissement.adresse }}</td>
        <td>
          <button class="btn btn-warning" ui-sref="admin.etablissements.edit({etablissementId: etablissement._id})"><i class="material-icons">modifier</i></button>
          <button class="btn btn-danger" ng-click="vm.remove(etablissement)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>




  <div class="alert alert-warning text-center" data-ng-if="etablissement.$resolved && !etablissement.length">
    No etablissement yet, why don't you <a data-ui-sref="admin.etablissements.create">create one</a>?
  </div>
</section>

