<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12" align="center">
        <img alt="AFPA" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png"/>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-2 col-md-offset-1">
    <div class="card">
      <img src="/modules/core/client/img/deco/collaborateurs.jpeg" class="card-img">
      <div class="card-block">
        <h5 class="card-title">collaborateur</h5>
        <div class="card-text">
          Gérer la liste des collaborateurs (création, modification)
        </div>
        <div class="card-buttons">
          <button data-ui-sref="admin.users" class="btn btn-primary card-btn btn-sm">voir la liste</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/modules/core/client/img/deco/etablissements.JPG" class="card-img">
      <div class="card-block">
        <h5 class="card-title">établissements</h5>
        <div class="card-text">
          Gérer la liste des établissements (création, modification)
        </div>
        <div class="card-buttons">
          <button data-ui-sref="admin.etablissements.list" class="btn btn-primary card-btn btn-sm">voir la liste</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/modules/core/client/img/deco/fonctions.jpg" class="card-img">
      <div class="card-block">
        <h5 class="card-title">fonction</h5>
        <div class="card-text">
          Gérer la liste des fonctions (création, modification)
        </div>
        <div class="card-buttons">
          <button data-ui-sref="admin.fonctions.list" class="btn btn-primary card-btn btn-sm">voir la liste</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/modules/core/client/img/deco/CV.jpg" class="card-img">
      <div class="card-block">
        <h5 class="card-title">CV</h5>
        <div class="card-text">
          Gérer la liste des CVs
        </div>
        <div class="card-buttons">
          <button data-ui-sref="" class="btn btn-primary card-btn btn-sm">voir la liste</button>
          <button data-ui-sref="" class="btn btn-primary card-btn btn-sm">imprimer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/modules/core/client/img/deco/creerCV.jpg" class="card-img">
      <div class="card-block">
        <h5 class="card-title">module CV</h5>
        <div class="card-text">
          Créez ou modifiez votre CV
        </div>
        <div class="card-buttons">
          <button data-ui-sref="" class="btn btn-primary card-btn btn-sm">modifier</button>
          <button data-ui-sref="" class="btn btn-primary card-btn btn-sm">imprimer</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</section>
