<section>
  <div class="row">
    <div class="col-md-12">
      <form name="vm.form.competenceForm" class="form-horizontal" ng-submit="vm.save(vm.form.competenceForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group col-md-12" show-errors>
            <div class="titre"> Ajouter une compétence pédagogique</div>
            <div class="input-group">
              <label class="input-group-addon sr-only" for="competenceName">Compétence pédagogique</label>
              <input type="text" name="competenceName" ng-model="vm.competence.competenceName" id="competenceName" class="form-control" placeholder="Ajouter une compétence pédagogique">
            <span class="input-group-btn"><button type="submit" class="btn btn-success">ajouter</button></span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12">
      <div class="titre">Liste des compétences pédagogiques</div>
      <table id="tableau" border="1" class="table table-striped table-condensed table-responsive">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-9">COMPETENCES PEDAGOGIQUES</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="competence in vm.competences">
            <td class="col-md-10 col-sm-9">{{competence.competenceName}}</td>
            <td>
              <button class="btn btn-info" data-ui-sref="curriculums.competences.edit({competenceId: competence._id})" ng-model="peda"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger" ng-click="vm.remove(competence)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
