<section>
  <div class="row">
    <div class="col-md-12">
      <form name="vm.form.competenceForm" class="form-horizontal cadre form" ng-submit="vm.save(vm.form.competenceForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group col-md-12" show-errors>
            <div class="titre-form"> Ajouter une compétence pédagogique</div>
              <label class="sr-only" for="competenceName">Compétence pédagogique</label>
              <input type="text" name="competenceName" ng-model="vm.competence.competenceName" id="competenceName" class="form-control" placeholder="Ajouter une compétence pédagogique">
              <br>
            <div><button type="submit" class="btn btn-block btn-form">ajouter</button></div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12">
      <div class="titre">Liste des compétences pédagogiques</div>
      <table id="tableau" class="table table-striped table-responsive">
        <tbody>
          <tr data-ng-repeat="competence in vm.competences">
            <td class="col-md-10 col-sm-9">{{competence.competenceName}}</td>
            <td>
              <button class="btn btn-form" data-ui-sref="curriculums.competences.edit({competenceId: competence._id})"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-form" ng-click="vm.remove(competence)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
