<section>
  <div class="page-header">
    <h1>cv_Competences</h1>
  </div>



    
    

    
    <form>
        <input type="text" ng-model="marquetype" placeholder="recherche">
    </form>

  
  <div class="col-md-12">
   <table id="tableau" border="1" class="table table-stripedy">
        <thead>
            <tr>
                <th>marque</th>

            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="cv_competence in vm.cv_competences | filter: marquetype">
                <td>{{ cv_competence.cv_competenceName | uppercase  }}</td>
                <td>
                  <a class="btn btn-primary" ng-click="vm.remove(cv_competence)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                  <a class="btn btn-primary pull"  data-ui-sref="admin.cv_competences.edit({cv_competenceId: cv_competence._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>





</section>
