<div>
<!--   <div class="page-header">
    <h1>{{vm.cv_competence._id ? 'Edit cv_Competence' : 'Nouvelle cv_competence'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.cv_competence._id" class="btn btn-trash" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div> -->
  <div class="titre">Modifier une cv_competence</div>
  <div class="col-md-6">
    <form name="vm.form.cv_competenceForm" class="form-horizontal" ng-submit="vm.save(vm.form.cv_competenceForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group col-md-12" show-errors>
          <div class="input-group">
            <label class="input-group-addon" for="cv_competenceName">cv_Competence</label>
            <input type="text" name="cv_competenceName" ng-model="vm.cv_competence.cv_competenceName" id="cv_competenceName" class="form-control" placeholder="Nom de la cv_competence" required>
            <span class="input-group-btn"><button type="submit" class="btn btn-success">valider</button></span>
        </div>
        <div ng-messages="vm.form.cv_competenceForm.cv_competenceName.$error" role="alert">
          <p class="help-block error-text" ng-message="required">La cv_competence est obligatoire</p>
        </div>
      </fieldset>
    </form>
    <span><button ng-click="vm.back()" class="btn btn-danger">annuler</button></span>
  </div>
</div>
