<section>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <form name="vm.form.cv_competenceForm" class="form-horizontal" ng-submit="vm.save(vm.form.cv_competenceForm.$valid)" novalidate>
            <fieldset>
              <div class="form-group col-md-12" show-errors>
                <div class="titre"> Créer une compétence pédagogique</div>
                <div class="input-group">
                  <label class="input-group-addon sr-only" for="cv_competencePedaName">Compétence pédagogique</label>
                  <input type="text" name="cv_competencePedaName" ng-model="vm.cv_competence.cv_competencePedaName" id="cv_competencePedaName" class="form-control" placeholder="Ajouter une compétence pédagogique">
                <span class="input-group-btn"><button type="submit" class="btn btn-success">ajouter</button></span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-12">
          <div class="titre">Liste des compétences pédagogiques</div>
          <table id="tableau" border="1" class="table table-striped table-condensed table-responsive">
            <thead>
              <tr>
                <th>COMPETENCES PEDAGOGIQUES</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="cv_competence in vm.cv_competences">
                <td ng-if="cv_competence.cv_competencePedaName">{{ cv_competence.cv_competencePedaName}}</td>
                <td ng-if="cv_competence.cv_competencePedaName">
                  <button class="btn btn-info" data-ui-sref="admin.cv_competences.edit({cv_competenceId: cv_competence._id})"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button class="btn btn-danger" ng-click="vm.remove(cv_competence)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <form name="vm.form.cv_competenceForm" class="form-horizontal" ng-submit="vm.save(vm.form.cv_competenceForm.$valid)" novalidate>
            <fieldset>
              <div class="form-group col-md-12" show-errors>
                <div class="titre"> Créer une compétence technique</div>
                <div class="input-group">
                  <label class="input-group-addon sr-only" for="cv_competenceTechName">Compétence technique</label>
                  <input type="text" name="cv_competenceTechName" ng-model="vm.cv_competence.cv_competenceTechName" id="cv_competenceTechName" class="form-control" placeholder="Ajouter une compétence technique">
                <span class="input-group-btn"><button type="submit" class="btn btn-success">ajouter</button></span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-md-12">
          <div class="titre">Liste des compétences techniques</div>
          <table id="tableau" border="1" class="table table-striped table-condensed table-responsive">
            <thead>
              <tr>
                <th>COMPETENCES TECHNIQUES</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cv_competence in vm.cv_competences">
                <td ng-if="cv_competence.cv_competenceTechName">{{ cv_competence.cv_competenceTechName}}</td>
                <td ng-if="cv_competence.cv_competenceTechName">
                  <button class="btn btn-info" data-ui-sref="admin.cv_competences.edit({cv_competenceId: cv_competence._id})"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button class="btn btn-danger" ng-click="vm.remove(cv_competence)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
