<section>
  <div class="page-header">
    <h1>Etablissements</h1>
  </div>
  <!-- 
    <form>
        <input type="text" ng-model="marquetype" placeholder="recherche">
    </form>

  
  <div class="col-md-12">
   <table id="tableau" border="1" class="table table-stripedy">
        <thead>
            <tr>
                <th>marque</th>

            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="etablissement in vm.etablissements | filter: marquetype">
                <td>{{ etablissement.etablissementName | uppercase  }}</td>
                <td>
                  <a class="btn btn-primary" ng-click="vm.remove(etablissement)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                  <a class="btn btn-primary pull"  data-ui-sref="admin.etablissements.edit({etablissementId: etablissement._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>

    {{vm.cars}}
  <bm-tab bm-tab-data="vm.cars"></bm-tab>
 -->
  <button class="btn btn-success" ui-sref="admin.etablissements.create">+ ajouter un établissement</button>
  <form>
    <input type="text" ng-model="searchEtablissement" placeholder="recherche">
  </form>


  <table class="table table-bordered table-striped table-condensed table-responsive" >
    <thead >
      <tr >
        <th >NOM DE L'ETABLISSEMENT</th>
        <th >CODE POSTAL</th>
        <th >DEPARTEMENT</th>
        <th >ADRESSE</th>
      </tr>
    </thead>
    <tbody >
      <tr  ng-repeat="etablissement in vm.etablissements | orderBy:'etablissementName' | filter: searchEtablissement">
        <td >{{ etablissement.etablissementName | uppercase }}</td>
        <td >{{ etablissement.cp }}</td>
        <td >{{ etablissement.dpt }}</td>
        <td >{{ etablissement.adresse }}</td>
      </tr>
    </tbody>
  </table>



</section>
