<div>
  <div class="titre">Modifier une compétence pédagogique</div>
    <div class="col-md-12">
      <form name="vm.form.experienceForm" class="form-horizontal" ng-submit="vm.save(vm.form.experienceForm.$valid)" novalidate>
        <fieldset>
          <div class="form-group col-md-12" show-errors>
            <div class="input-group">
              <label class="input-group-addon sr-only" for="entreprise">Compétence</label>
              <input type="text" name="entreprise" ng-model="vm.experience.entreprise" id="entreprise" class="form-control" placeholder="entreprise" required>
              <span class="input-group-btn"><button type="submit" class="btn btn-success">valider</button></span>
          </div>
          <div ng-messages="vm.form.experienceForm.entreprise.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La experience est obligatoire</p>
          </div>
        </fieldset>
      </form>
      <span><button ng-click="vm.back()" class="btn btn-danger">annuler</button></span>
    </div>
  </div>
</div>
