<section>
  <div class="row">
    <div class="col-md-12">
      <my-xp my-xp-data="vm.experiences"></my-xp>
    </div>
              

    <div class="col-md-12">
      <div class="titre">Liste des expériences</div>
      <table id="tableau" border="1" class="table table-striped table-condensed table-responsive"  data-ng-repeat="experience in vm.experiences">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-9">ENTREPRISE</th>
            <th class="col-md-10 col-sm-9">VILLE</th>
            <th class="col-md-10 col-sm-9">POSTE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-10 col-sm-9">{{experience.entreprise}}</td>
            <td class="col-md-10 col-sm-9">{{experience.ville}}</td>
            <td class="col-md-10 col-sm-9">{{experience.poste}}</td>
            <td>
              <button class="btn btn-info" data-ui-sref="curriculums.experiences.edit({experienceId: experience._id})"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger" ng-click="vm.remove(experience)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

