<section>
  <div class="row">
    <div class="col-md-12">
      <my-xp my-xp-data="vm.experiences"></my-xp>
    </div>
    <br><br>
    <div class=" col-md-12 titre">Liste des expériences</div>

    <div class="col-md-12" data-ng-repeat="experience in vm.experiences">
      <div class="row cadre list xp">
        <div class="col-md-2 petit">
          {{experience.dateDebutMois}} {{experience.dateDebutAnnee}}
          <br>
          {{experience.dateFinMois}} {{experience.dateFinAnnee}}
        </div>
        <div class="col-md-10">
          <div class="xp intitule">{{experience.poste}}
            <button class="btn btn-form btn-xs pull-right" data-ui-sref="curriculums.experiences.edit({experienceId: experience._id})"><span class="glyphicon glyphicon-pencil"></span></button>  
            <button class="btn btn-form btn-xs pull-right" ng-click="vm.remove(experience)"><span class="glyphicon glyphicon-trash"></span></button>
          </div>

          <div class="petit souligne">{{experience.entreprise}} - {{experience.ville}}</div>
          <div>{{experience.mission}}</div>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>


<!--       <table id="tableau" border="1" class="table table-striped table-condensed table-responsive"  data-ng-repeat="experience in vm.experiences">
        <thead>
          <tr>
            <th class="col-md-10 col-sm-9">ENTREPRISE</th>
            <th class="col-md-10 col-sm-9">VILLE</th>
            <th class="col-md-10 col-sm-9">POSTE</th>
            <th class="col-md-10 col-sm-9">DEBUT</th>
            <th class="col-md-10 col-sm-9">FIN</th>
            <th class="col-md-10 col-sm-9">MISSION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-10 col-sm-9">{{experience.entreprise}}</td>
            <td class="col-md-10 col-sm-9">{{experience.ville}}</td>
            <td class="col-md-10 col-sm-9">{{experience.poste}}</td>
            <td class="col-md-10 col-sm-9">{{experience.dateDebutMois}} {{experience.dateDebutAnnee}}</td>
            <td class="col-md-10 col-sm-9">{{experience.dateFinMois}} {{experience.dateFinAnnee}}</td>
            <td class="col-md-10 col-sm-9">{{experience.mission}}</td>
            <td>
              <button class="btn btn-info" data-ui-sref="curriculums.experiences.edit({experienceId: experience._id})"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-danger" ng-click="vm.remove(experience)"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
          </tr>
        </tbody>
      </table>
 -->    

