<select class="form-control" class="col-md-6">
  <option>Mois</option>
  <option value="janv">Janvier</option>
  <option value="fev">Février</option>
  <option value="mars">Mars</option>
  <option value="avril">Avril</option>
  <option value="mai">Mai</option>
  <option value="juin">Juin</option>
  <option value="juil">Juillet</option>
  <option value="aout">Août</option>
  <option value="sept">Septembre</option>
  <option value="oct">Octobre</option>
  <option value="nov">Novembre</option>
  <option value="dec">Décembre</option>
</select>
