  <form name="vm.form.formationForm" class="form-horizontal cadre-form" ng-submit="vm.save(vm.form.formationForm.$valid)" novalidate>
  <div class="titre-form"> Ajouter une formation</div>

    <fieldset>
      <div class="form-group row" show-errors>
        <div class="col-md-12 input-group">
          <div class="col-md-6">
            <div class="sous-titre-form">Date de début</div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.formation.dateDebutMois">
                <option value="">Mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
              </select>
              </div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.formation.dateDebutAnnee">
                <option value ="">Année</option>
                <option ng-repeat="year in vm.years" >{{ year }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sous-titre-form">Date de fin</div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.formation.dateFinMois">
                <option value="">Mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.formation.dateFinAnnee">
                <option value ="">Année</option>
                <option ng-repeat="year in vm.years" >{{ year }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
              <div class="sous-titre-form">Intitulé</div>
              <input type="text" name="intitule" ng-model="vm.formation.intitule" id="intitule" class="form-control" placeholder="Mentionnez l'intitulé">
          </div>
          <div class="col-md-6">
              <div class="sous-titre-form">Organisme</div>
              <input type="text" name="organisme" ng-model="vm.formation.organisme" id="organisme" class="form-control" placeholder="Mentionnez l'organisme">
          </div>
          <div class="col-md-12">
              <div class="sous-titre-form">Domaine</div>
              <input type="text" name="domaine" ng-model="vm.formation.domaine" id="domaine" class="form-control" placeholder="Mentionnez le domaine">
          </div>
          <div class="col-md-12">
              <div class="sous-titre-form">Diplôme</div>
              <textarea name="diplome" ng-model="vm.formation.diplome" id="diplome" class="form-control" placeholder=" Mentionnez un diplôme"></textarea>
          </div>
        </div>
      </div>
      <div><button type="submit" class="btn btn-block btn-success">ajouter</button></div>
    </fieldset>
  </form>
</div>