  <form name="vm.form.experienceForm" class="form-horizontal cadre form" ng-submit="vm.save(vm.form.experienceForm.$valid)" novalidate>
    <div class="titre-form">{{vm.experience._id ? 'Modifier une expérience' : 'Ajouter une expérience'}}</div>
    <fieldset>
      <div class="form-group row" show-errors>
        <div class="col-md-12 input-group">
          <div class="col-md-6">
            <div class="sous-titre-form">Date de début</div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.experience.dateDebutMois">
                <option value="">Mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
              </select>
              </div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.experience.dateDebutAnnee">
                <option value ="">Année</option>
                <option ng-repeat="year in vm.years" ng-if="year <= vm.experience.dateFinAnnee || !vm.experience.dateFinAnnee "  >{{ year }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sous-titre-form">Date de fin</div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.experience.dateFinMois">
                <option value="">Mois</option>
                <option value="Janvier">Janvier</option>
                <option value="Février">Février</option>
                <option value="Mars">Mars</option>
                <option value="Avril">Avril</option>
                <option value="Mai">Mai</option>
                <option value="Juin">Juin</option>
                <option value="Juillet">Juillet</option>
                <option value="Août">Août</option>
                <option value="Septembre">Septembre</option>
                <option value="Octobre">Octobre</option>
                <option value="Novembre">Novembre</option>
                <option value="Décembre">Décembre</option>
              </select>
            </div>
            <div class="col-md-6">
              <select class="form-control" class="col-md-6" ng-model="vm.experience.dateFinAnnee">
                <option value ="">Année</option>
                <option ng-repeat="year in vm.years" ng-if="year >= vm.experience.dateDebutAnnee " >{{ year }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sous-titre-form">Entreprise</div>
            <input type="text" name="entreprise" ng-model="vm.experience.entreprise" id="entreprise" class="form-control" placeholder="Ajouter une entreprise">
          </div>
          <div class="col-md-6">
            <div class="sous-titre-form">Ville</div>
            <input type="text" name="ville" ng-model="vm.experience.ville" id="ville" class="form-control" placeholder="Ajouter une ville">
          </div>
          <div class="col-md-12">
            <div class="sous-titre-form">Poste</div>
            <input type="text" name="poste" ng-model="vm.experience.poste" id="poste" class="form-control" placeholder="Ajouter une poste">
          </div>
          <div class="col-md-12">
            <div class="sous-titre-form">Mission</div>
            <textarea name="mission" ng-model="vm.experience.mission" id="mission" class="form-control" placeholder="Ajouter une mission"></textarea>
          </div>
        </div>
      </div>
      <div><button type="submit" class="btn btn-block btn-form">{{vm.experience._id ? 'Confirmer' : 'Ajouter'}}</button></div>
  </fieldset>
</form>