<section>
  <div class="page-header">
    <h1>Fonctions</h1>
  </div>



    
    

    
    <form>
        <input type="text" ng-model="marquetype" placeholder="recherche">
    </form>

  
  <div class="col-md-12">
   <table id="tableau" border="1" class="table table-stripedy">
        <thead>
            <tr>
                <th>marque</th>

            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="fonction in vm.fonctions | filter: marquetype">
                <td>{{ fonction.fonctionName | uppercase  }}</td>
                <td>
                  <a class="btn btn-primary" ng-click="vm.remove(fonction)">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                  <a class="btn btn-primary pull"  data-ui-sref="admin.fonctions.edit({fonctionId: fonction._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                </td>
            </tr>
        </tbody>
    </table>
  </div>





</section>
