/*////////// HEADER //////////////*/
.content {
  margin-top: 60px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  border-radius: 50%;
  height: 28px;
  margin-right: 5px;
  opacity: 0.8;
  width: 28px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-bottom: 11px !important;
  padding-top: 11px !important;
}
.user-primary-account {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}
/*.header-menu{
  background-image: linear-gradient(to bottom, #C8EF8F 0%, #6AAF04 100%);
}*/



/*///////////// MENU DU HAUT /////////////*/
.navbar-inverse{
/*  background-image: linear-gradient(to bottom, #6AAF0470 20%, #6AAF04 114%);
*/
  background-image: none;
  background-color: #6AAF04;
  border-color: #6AAF04;
}
.navbar-inverse a:hover{
  background-color: #fff;
  border-color: none;
}

.navbar-inverse .navbar-nav > .active > a
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-image: linear-gradient(to bottom, #41660A 0%, #41660A 100%);
  background-color: #41660A;
  color: #fff;
  box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav .active > li > a {
    color: #6AAF04;
}

.navbar-inverse .navbar-nav > .open > a{
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  color: #6AAF04;
  box-shadow: none;
}

.navbar-nav a {
    color: #fff;
    text-shadow: none !important;
}

.navbar-nav > li > a {
    color: #fff;
    text-shadow: none !important;
}



/*////// MENU GAUCHE module CV ///////////*/
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #6AAF04;
}
a:hover, a:focus {
    color: #6AAF04;
    text-decoration: underline;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #6AAF0420;
}



/*///////// BOUTONS //////////*/

.btn-form{
  background-color: white;
  background-position: 0 -15px;
  border: 1px solid #6AAF0470;
  box-shadow: 3px 3px 3px #6AAF0450;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-form:hover .btn-form:focus {
  color: #6AAF04;
}
.btn-form:hover {
    color: #6AAF04;
    border-color: none;
}


 /*///////////////  CARD ////////////////////*/
.card{
  background-color: white;
  width:100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid #c6a0a0;

}

.card-img{
  display:block;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
}
.card-block{
  padding:0 0 20px 0;
}
.card-title{
  text-transform: uppercase;
  text-align: center;
  background-color:#4571b3;
  color:black;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  color: white;

}
.card-text{
  padding: 15px 20px 10px 20px;
}
.card-stats{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
}
.card-stat-title {
  background-color: white;
  align-items: stretch;
  text-transform: uppercase;
  color: #4571b3;
  display: block;
}

.card-stats-stat {
  background-color: white;
  align-items: stretch;
  padding: 10px;
  color: #9f9e9e;
}
.card-btn{
  flex: 1;
  margin: 5px;
}

.card-buttons{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}


/*///////// TYPO ////////////*/
body{
  font-family: 'Montserrat', sans-serif;
  color: #33393f;
  font-size: 14px;
}

a {
  color: #6AAF04;
}

.titre{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #1b2631;
  font-size: 18px;
  border-bottom: 1px solid #6AAF04;
  margin-top: 30px;
  margin-bottom: 20px;
}

.sous-titre{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #1b2631;
  font-size: 14px;
  border-bottom: 1px solid #6AAF04;
  margin-top: 15px;
  margin-bottom: 15px;
}

.nav{
  text-transform: uppercase;
}

.table > tbody > tr > td{
  vertical-align: center;
}


/*/////////// FORMULAIRE /////////////*/

.titre-form{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  color: #6AAF04;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sous-titre-form{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #6AAF04;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cadre.form{
  background-color: #6AAF0430;
  border: 1px solid #6AAF04;
}


/*///////// DECO //////////*/
.photoCV{
  border: 0px solid;
  border-radius: 5px;
}

.cadre{
  border-radius: 5px;
  padding: 10px;
}

/*///////////// CV /////////////////*/
.cadre.list{
  border: 1px solid #6AAF04;
}
/* expériences + formations */
.petit{
  font-size: 12px;
}
.souligne{
  border-bottom: 1px solid #6AAF04;
  margin-top: 3px;
  margin-bottom: 15px;
}

.xp{
}

.xp.intitule{
  font-weight: bold;
}




.red{
  background-color: red;
}
.green{
  background-color: #6AAF04;
}
.black{
  background-color: black;
  color: white;
}


vert clair : 6AAF0430
vert normal afpa : 6AAF04